@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/*
Following CSS:
font-family: 'Roboto', sans-serif;
*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
/*
Following CSS:
font-family: 'Source Sans Pro', sans-serif;
*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
/*
Following CSS:
font-family: 'Noto Sans', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');
/*
Following CSS:
font-family: 'Nunito', sans-serif;
*/