.all {
    width: 100%;
    margin: 0;
    float: left;
    height: auto;
    background-color: #f0f0f0;
}

#login-block {
    width: 30%;
    float: left;
    margin: 100px 35%;
    margin-bottom: 200px;
    height: 500px;
}

#login-block p{
    width: 100%;
    float: left;
    text-align: center;
    margin: 10px 0%;
    margin-bottom: 20px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 599;
    font-size: 1.75em;
}

#login-block .input{
    width: calc(100% - 24px);
    float: left;
    text-align: left;
    padding: 10px;
    margin: 10px 0%;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 599;
    font-size: 1.05em;
    outline:none;
}

#login-block .error{
    float: left;
    text-align: center;
    margin: 5px 0;
    color: red;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 599;
    font-size: 1.05em;
}

#login-block .btn-login{
    width: 100%;
    float: left;
    text-align: center;
    padding: 10px;
    margin: 8px 0%;
    color: #fff;
    background-color: #0C57FB;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 599;
    font-size: 1em;
    outline:none;
    border: 0;
    cursor: pointer;
    border-radius: 3px;
}

#login-block #info-block {
    width: 100%;
    margin-top: 18px;
    float: left;
}

#login-block #info-block a{
    width: 100%;
    margin-top: 0px;
    float: left;
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.95em;
    color: #0C57FB;
    cursor: pointer;
    text-align: center;
}

#login-block #else-auth {
    text-align: center;
}

#login-block #else-auth .reg-btn {
    text-align: center;
    font-size: 1.2em;
    font-weight: 599;
    color: #000;
    padding: 10px 15px;
    background: rgba(0, 0, 0, 0);
    border-radius: 5px;
    border: 1.3px solid #000;
    font-family: 'Noto Sans', sans-serif;
}

#login-block #else-auth .reg-btn:hover {
     -webkit-transition: all 0.2s ease-out 0.05s;
     -moz-transition: all 0.2s ease-out 0.05s;
     -o-transition: all 0.2s ease-out 0.05s;
     transition: all 0.2s ease-out 0.05s;
    color: #fff;
    background: rgba(0, 0, 0, 1);
}

@media (max-width: 1300px) {
    
#login-block {
    width: 90%;
    float: left;
    margin: 100px 5%;
    margin-bottom: 200px;
    height: 500px;
}
    
#login-block p{
    width: 100%;
    float: left;
    text-align: center;
    margin: 20px 0%;
    margin-bottom: 20px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 599;
    font-size: 1.9em;
}
    
#login-block .input{
    width: calc(100% - 24px);
    float: left;
    text-align: left;
    padding: 10px;
    margin: 10px 0%;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 599;
    font-size: 1.25em;
    border: 2px solid silver;
    outline:none;
}
    
#login-block .btn-login{
    width: 100%;
    float: left;
    text-align: center;
    padding: 10px;
    margin: 8px 0%;
    color: #fff;
    background-color: #0C57FB;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 599;
    font-size: 1.3em;
    outline:none;
    border: 0;
    cursor: pointer;
    border-radius: 3px;
}
    
#login-block #info-block {
    width: 100%;
    margin-top: 20px;
    float: left;
}

#login-block #info-block a{
    width: 100%;
    margin-top: 0px;
    float: left;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.05em;
    color: #0C57FB;
    cursor: pointer;
    text-align: center;
}
    
#login-block #else-auth .reg-btn {
    text-align: center;
    font-size: 1.45em;
    font-weight: 599;
    margin-top: 15px;
    color: #000;
    padding: 10px 15px;
    background: rgba(0, 0, 0, 0);
    border-radius: 5px;
    border: 1.5px solid #000;
    font-family: 'Noto Sans', sans-serif;
}

    
}